* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #4c98fc 0%, #e0b1ff 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#main-container {
  /* background: #fefefe; */
  min-width: 500px;
  max-width: 500px;
  height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  background: #c1c4d0;
  border-radius: 10px 10px 0 0;
  flex-basis: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px rgba(143, 143, 143, 0.411);
}

#title {
  font-size: 1.7em;
  color: #fefefe;
}

#chat-container {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.322);
  /* border: dotted 2px #000; */
  max-height: 520px;
  overflow-y: auto;
}

#input-container {
  background: #fefefe8a;
  display: flex;
  flex-basis: 3em;
  border-radius: 0 0 10px 10px;
  padding-left: 2px;
  padding-right: 2px;
}

#input-box {
  /* border: 2px solid yellow; */
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#input {
  background: #fefefe;
  width: 99%;
  height: 75%;
  border-radius: 0px 0px 0px 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 1.2em;
}

#send-btn-container {
  /* border: 1px solid blue; */
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send-btn {
  background: #fefefe;
  color: #c1c4d0;
  font-size: 1.5em;
  width: 87%;
  height: 75%;
  border-radius: 0px 0px 10px 0px;
  border: none;
  outline: none;
}

.outerBubbleUser {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  width: max-content;
  margin: 10px 10px 10px 30px;
}

.outerBubbleBot {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: max-content;
  margin: 10px 30px 10px auto;
}

.textBuble {
  display: inline-block;
  width: max-content;
  /* max-width: 200px; */
  padding: 10px 15px;
  border-radius: 7.5px;
  box-shadow: 2px 1px 1.5px rgba(0, 0, 0, 0.356);
}

.user {
  color: #fefefe;
  background: linear-gradient(to bottom, #cc8ef5 0%, #e0b1ff 100%);
  margin: 0px 0px auto 0px;
  border-radius: 2.5px 15px 15px 15px;
}

.bot {
  color: #efefef;
  background: linear-gradient(to bottom, #4c98fc 0%, #85baff 100%);
  margin-left: auto;
  margin: 0px 0px 0px auto;
  border-radius: 15px 2.5px 15px 15px;
}

.chat-text {
  /* max-width: 10px; */
  /* margin-right: 1em; */
}

.timeStamp {
  color: #fefefe;
  font-size: 0.7em;
  letter-spacing: 1.5px;
}

.sml-margin-l {
  margin-left: 10px;
}

.sml-margin-r {
  margin-right: 10px;
}
